In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [2]:
check = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''

In [3]:
# создаём DataFrame
df = pd.read_csv(io.StringIO(check), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [5]:

df['y_pred']=3525.14+df['totwrk']*(-0.16)+df['age']*(1.62)+df['male']*(51.84)+np.log(df['hrwage'])*(-9.88)

In [6]:
df

   sleep  totwrk  age  male  hrwage       y_pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [7]:
df['residual']=df['sleep']-df['y_pred']
df

   sleep  totwrk  age  male  hrwage       y_pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

ex 2

In [8]:
nast = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46'''

In [9]:
df = pd.read_csv(io.StringIO(nast), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [10]:
df['y_pred']=-1.71+0.21*np.log(df['capital'])+0.71*np.log(df['labour'])
df

   output  capital  labour    y_pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [11]:

df['residual']=np.log(df['output'])-df['y_pred']
df.round(2)

   output  capital  labour  y_pred  residual
0    9.25     2.61     184    2.19      0.03
1    3.66     1.32      91    1.55     -0.25
2   28.78    22.09     426    3.24      0.12
3    4.12    10.74      72    1.82     -0.41
4    2.89     1.16      46    1.04      0.02

Задача 1.21

In [12]:
TSS=100.35
ESS=47.56
RSS=TSS-ESS
RSS

52.78999999999999

In [13]:
R2=ESS/TSS
round(R2,2)

0.47

In [14]:
TSS=240.82
RSS=93.52
ESS=TSS-RSS
ESS

147.3

In [15]:
R2=ESS/TSS
round(R2,2)

0.61

In [16]:
ESS=418.38
RSS=782.83
TSS=ESS+RSS
TSS

1201.21

In [17]:
R21=ESS/TSS
round(R21,2)

0.35

1.2.4

In [43]:
RSS=(-0.24)**2+(0.41)**2+(1.22)**2+(-0.93)**2+(-0.37)**2+(-1.33)**2+(0.16)**2+(-0.27)**2+(0.06)**2+(1.29)**2
round(RSS,2)

6.25

In [44]:
n=10
k=2
m=3

In [51]:
x=RSS/(n-m)

In [60]:
import math
sqrt=math.sqrt(x)
round(sqrt,2)

0.94

1.2.5

In [64]:
data_string='''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''

In [65]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [70]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
TSS.round(2)

366.26

In [71]:
ESS = ((df['y.hat']- np.mean(df['sleep/60']))**2).sum()
ESS.round(2)

173.19

In [72]:
RSS = ((df['sleep/60'] - df['y.hat'])**2).sum()
RSS.round(2)

193.14

1.2.6

In [73]:
data_string='''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''

In [74]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [75]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
TSS.round(2)

24.48

In [76]:
ESS = ((df['y.hat']- np.mean(df['log(output)']))**2).sum()
ESS.round(2)

24.25

In [77]:
RSS = ((df['log(output)'] - df['y.hat'])**2).sum()
RSS.round(2)

0.29

1.2.7

In [78]:
n=935
k=5
m=6
ser=0.378

In [79]:
s=ser**2
s

0.142884

In [84]:
RSS=s*(n-m)
round(RSS,3)

132.739

1.2.8

In [125]:
n=935
k=5
m=6
ser=0.383

In [126]:
s=ser**2
s

0.146689

In [127]:
RSS=s*(n-m)
round(RSS,3)

136.274

In [134]:

R2=0.178

In [133]:
TSS=RSS/(1-R2)
round(TSS,3)

165.784

1.2.9

In [138]:
n=935
k=5
m=6
ser=0.389
R2=0.149

In [139]:
s=ser**2

In [140]:
RSS=s*(n-m)
RSS

140.577209

In [141]:
TSS=RSS/(1-R2)
TSS

165.19060987074033

In [142]:
ESS=R2*TSS
round(ESS,3)

24.613

Задача 2.1

In [24]:

n=526
k=5
R2=0.288

In [25]:
R2adj= 1 - (1-R2)*(n-1)/(n-k)

In [26]:
round(R2adj,2)

0.28

Задача 2.2

In [143]:
n=935
k=6
R2=0.201

In [144]:
R2adj= 1 - (1-R2)*(n-1)/(n-k)

In [145]:
round(R2adj,3)

0.197

Задача 2.3

In [148]:
data_string='''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''

In [149]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [154]:
RSS = ((df['sleep/60'] - df['y.hat'])**2).sum()
RSS

193.14050000000003

In [155]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
TSS

366.2616499999999

In [160]:
R2=-RSS/TSS+1
round(R2,2)

0.47

In [164]:
R2adj= 1 - (1-R2)*(10-1)/(10-3)
round(R2adj,2)

0.32

Задача 2.4

In [165]:
data_string='''
log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''

In [166]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [168]:
RSS = ((df['log(output)'] - df['y.hat'])**2).sum()
RSS

0.28720000000000007

In [169]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
TSS

24.47861

In [172]:
R2=-RSS/TSS+1
round(R2,2)

0.99

In [173]:
R2adj= 1 - (1-R2)*(10-1)/(10-3)
round(R2adj,2)

0.98

Задача 3.1

In [178]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [179]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+smsa', data=df).fit()

In [180]:
sleep_eq1.params.round(2)

Intercept    3494.22
totwrk         -0.17
age             2.81
male           86.91
smsa          -75.29
dtype: float64

In [ ]:
Задача 3.1 (класс)

In [33]:
ESS=np.sum((op['Fitted']-op['Факт'].mean())**2)
ESS

288096.9463873332

In [34]:
RSS=TSS-ESS
RSS

657136.3869460002

In [35]:
RSS=np.sum((op['Fitted']-op['Факт'])**2)
RSS

467092.85505400004

In [36]:
R2=ESS/TSS
R2

0.30478923692985843

In [37]:
#SER

In [38]:
np.sqrt(RSS)

683.4419178350125

Задача 3.2

In [187]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+south', data=df)

In [218]:
df=df[df.smsa>=1]
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,...,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,...,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,...,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,...,1,2438,0,2438,0,2,0,4,1.230000,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,...,0,2373,0,2373,0,13,0,0,NaN,961
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,...,0,1510,1,1510,0,7,1,0,NaN,625
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,...,0,1183,1,1183,0,31,0,28,NaN,2209
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,...,0,2388,0,2388,0,10,0,0,NaN,1024
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025

In [223]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+south', data=df)

In [225]:
sleep_eq2.params.round(2)

Intercept    3460.43
totwrk         -0.18
age             2.28
male           92.65
south         168.85
dtype: float64

In [227]:
sleep_eq2.ess.round(3)

7396259.393

In [228]:
sleep_eq2.centered_tss.round(3)

50055043.404

In [229]:

sleep_eq2.ssr.round(3)

42658784.011

In [230]:
sleep_eq2.rsquared.round(3)

0.148

In [232]:
sleep_eq2.rsquared_adj

0.13545584242526798

In [252]:
n=282
k=4
m=5

In [253]:
ser=42658784.011/(n-m)
ser

154002.83036462092

In [254]:
s=math.sqrt(ser)
s

392.43194360885167

Задача 3.3

In [255]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [259]:
sleep_eq3 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df).fit()

In [260]:
df=df[df.male>=1]
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
5,41,0,6,0.000000,0.000000,12,0,1,1,4812,...,0,1205,0,0,1205,23,0,23,19.249998,1681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,50,0,693,0.182331,0.030075,12,2500,1,0,4417,...,1,2603,0,2603,0,32,0,22,NaN,2500
694,44,0,695,0.182331,0.030075,16,16250,1,0,4539,...,0,2513,0,2513,0,22,0,19,NaN,1936
695,29,0,696,0.182331,0.030075,16,16250,1,0,4639,...,0,2418,0,2418,0,7,1,5,NaN,841
699,61,0,700,0.182331,0.030075,17,27500,1,0,4362,...,0,2725,0,2725,0,38,0,30,NaN,3721
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156

In [261]:
sleep_eq3 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df).fit()

In [262]:
sleep_eq3.params.round(2)

Intercept    3600.96
totwrk         -0.19
age             3.30
smsa          -77.69
south          60.11
dtype: float64

In [263]:
sleep_eq3.ess.round(3)

12125135.598

In [265]:
sleep_eq3.centered_tss.round(3)

75570140.578

In [266]:
sleep_eq3.ssr.round(3)

63445004.98

In [272]:
sleep_eq3.rsquared.round(3)

0.16

In [273]:
sleep_eq3.rsquared_adj

0.1519469786218589

In [274]:
n=400
k=4
m=5

In [277]:
ser=63445004.98/(n-m)
ser

160620.26577215188

In [278]:
s=math.sqrt(ser)
s

400.7745822431256

Задача 3.5

In [298]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [299]:
labour_eq1 = smf.ols(formula='output~capital+labour+wage', data=df).fit()

In [300]:
labour_eq1.params.round(2)

Intercept   -16.75
capital       0.40
labour        0.05
wage          0.44
dtype: float64

In [301]:
labour_eq1.ess.round(3)

2190376.077

In [302]:
labour_eq1.centered_tss.round(3)

2235073.295

In [303]:
labour_eq1.ssr.round(3)

44697.218

In [304]:
labour_eq1.rsquared.round(3)

0.98

In [305]:
labour_eq1.rsquared_adj

0.9798957159594974

In [306]:
n=569
k=3
m=4

In [308]:
ser=44697.218/(n-m)
ser

79.1101203539823

In [309]:
s=math.sqrt(ser)
s

8.894387013953367

Задача 3.7

In [314]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [317]:
elect_eq1 = smf.ols(formula='cost~q+q*q+pk+pf+pl', data=df).fit()

In [318]:
elect_eq1.params.round(2)

Intercept   -84.56
q             0.01
pk            0.30
pf            1.07
pl            0.00
dtype: float64

In [319]:
elect_eq1.ess.round(3)

1131262.896

In [320]:
elect_eq1.centered_tss.round(3)

1189954.209

In [321]:
elect_eq1.ssr.round(3)

58691.313

In [322]:
elect_eq1.rsquared_adj

0.9493881982918853

In [323]:
n=158
k=5
m=6

In [324]:
ser=58691.313/(n-m)
ser

386.12705921052634

In [325]:
s=math.sqrt(ser)
s

19.65011601010351